{% extends "home.html" %}

{% block title %}
Registration - Pinterest
{% endblock %}

{% block form %}
<form method="POST">
{{ form.csrf_token }}

    {{ form.email.label() }}
    {{ form.email() }}

    {{ form.username.label() }}
    {{ form.username() }}

    {{ form.password.label() }}
    {{ form.password() }}

    {{ form.confirmPassword.label() }}
    {{ form.confirmPassword() }}

    {{ form.submitButton() }}

</form>

<a href="{{ url_for('home') }}">Do you already have an account? Click here to login!</a>
{% endblock %}