{% extends "home.html" %}

{% block body %}
{% include "navbar.html" %}
    <body>
        <div class="container">


            <div class="content">
                {% for post in posts %}
                <a href="{{ url_for('profile', username=post.user.username) }}" class="block-img">
                    <img src=" {{ url_for('static', filename='pictures_posts/{}'.format(post.img)) }}" />
                </a>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}