{% extends "home.html" %}

{% block title %}
Profile - {{ user }}
{% endblock %}

{% block body %}
<body>

    {% include "navbar.html" %}
    
    {% if form %}
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        {{ form.post() }}
        {{ form.confirmButton() }}
    </form>
    {% endif %}

    <h2>
        This is the {{ user.username }}'s profile
    </h2>
        
        
        {% for post in user.posts %}

        <img src=" {{ url_for('static', filename='pictures_posts/{}'.format(post.img)) }}">
 
        {% endfor %}

</body>
{% endblock %}
